#toolbar {
  --toolbar_width: calc(40vw - 3vh - 30vw - var(--border_width) * 2 - 2vw);
  --tool_width: calc(var(--toolbar_width) * 0.6);
  width: var(--toolbar_width);
  min-height: 100vh;
  border-right: 2px solid #333;
  position: absolute;
}

.tool {
  display: block;
  width: var(--tool_width);
  height: var(--tool_width);

  margin: auto;
  margin-top: calc(var(--toolbar_width) * 0.1);
  margin-bottom: calc(var(--toolbar_width) * 0.1);

  border: 2px solid #333;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 0.3);
  color: rgb(220, 220, 220);

  transition: all 0.15s;
}

.tool.selected {
  transform: scale(1.1);
  color: rgb(60, 60, 60);
  background-color: rgba(220, 220, 220, 0.3);
}

.tool.hidden {
  visibility: hidden;
}

.tool > i {
  display: inline-block;
  width: 100%;
  height: 100%;

  text-align: center;
  font-size: calc(var(--tool_width) / 2);
  line-height: var(--tool_width);
  color: inherit;
}

.tool:hover {
  transform: scale(1.1);
}
